<h2 class="chili">Meal Details</h2>

<div class="chili"><%= @meal.name %></div>
<div class="chili">$<%= @meal.price %></div>
<div class="chili">Calories: <%= @meal.calories %></div>

<p class="link"><%= link_to "Menu Items", meals_path %></p>
